body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    min-height: 100vh;
    background-image: url("https://images.pexels.com/photos/694740/pexels-photo-694740.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    line-height: 50px;
    
}

label{
    display: flex;
    text-align: left;
}

input{
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5c5959;
    border-radius: 5px;
    
}

button{
    background-color: rgb(73, 45, 13);
    padding: 10px;
    width:400px;
    border-color: #5c5959;
    border-radius: 5px;
    color:aliceblue;
    font-size: large;
}

#registrationForm{
    background-color: rgb(195, 171, 145);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    width: 500px;
    text-align: center;
    color:rgb(67, 47, 26);

}

#user{
    min-height: 80vh;
    text-align: center;
    color:rgb(238, 238, 203);
    font-size: larger;
}

#types{
    line-height: 20px;
    text-align: center;
    background-color: beige;
    color:rgb(111, 73, 37);
    background-size: contain;
    border-radius: 80px;
}


#items{
    background-color: rgb(110, 91, 73);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
    font-family: cursive;
    color: rgb(226, 226, 188);

}

.blink {
    color: red;
    font-weight: bold;
    font-size: large;
    animation: blinker 2s infinite;
}

#countdown{
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20210131/pngtree-brown-gradient-geometric-creative-light-effect-background-image_550890.jpg");
    border-radius: 100px;
    box-sizing: border-box;
}

@keyframes blinker {
    40% { opacity: 0; }
}